<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Info</title>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>
<body>
<div class="container">
    <h1 th:text="'Account Info Page for: ' + ${name} + '!'"/>

    <a th:href="@{/}" class="btn btn-primary">Home</a>

    <form id="logoutForm" th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-danger" value="Logout"/>
    </form>

</div>
<script src="static/js/1.11.0-jquery.min.js"></script>
<script src="static/js/3.3.6-bootstrap.min.js"></script>
</body>
</html>